
# WIP RAUC temp entry to test a per boot partition config file without modifying non GRUB config files
menuentry "A_Boot Linux - RAUC serial Slot A (OK=$A_OK, TRY=$A_TRY)" {
	console="console=tty0 console=ttyS0"
	set RAUC_SLOT="A"
	set_boot_params_by_rauc_slot
	KERNEL_CMDLINE_ROOT="PARTLABEL=ROOTFS_${RAUC_SLOT}"
	boot_linux_luks_verity_params_from_per_boot_partition_env_file
}

# WIP RAUC temp entry to test a per boot partition config file without modifying non GRUB config files
menuentry "B_Boot Linux - RAUC serial Slot B (OK=$B_OK, TRY=$B_TRY)" {
	console="console=tty0 console=ttyS0"
	set RAUC_SLOT="B"
	set_boot_params_by_rauc_slot
	KERNEL_CMDLINE_ROOT="PARTLABEL=ROOTFS_${RAUC_SLOT}"
	boot_linux_luks_verity_params_from_per_boot_partition_env_file
}
