#
# Load the environment first to get the current state from grubenv
#
set prev_check=$check_signatures
set check_signatures=no
load_env
set check_signatures=$prev_check

# Only set defaults if they are empty (Stops overwriting RAUC state)
if [ -z "$ORDER" ]; then set ORDER="A B"; fi
if [ -z "$A_OK" ]; then set A_OK=1; fi
if [ -z "$B_OK" ]; then set B_OK=0; fi
if [ -z "$A_TRY" ]; then set A_TRY=0; fi
if [ -z "$B_TRY" ]; then set B_TRY=0; fi
if [ -z "$RAUC_RETRY_COUNT" ]; then set RAUC_RETRY_COUNT=3; fi

RAUC_A_SLOT_BOOT_INDEX=0
RAUC_B_SLOT_BOOT_INDEX=1

#
# select bootable slot
#
for SLOT in $ORDER; do
	if [ "$SLOT" == "A" ]; then
		INDEX=$RAUC_A_SLOT_BOOT_INDEX
		OK=$A_OK
		TRY=$A_TRY
	fi
	if [ "$SLOT" == "B" ]; then
		INDEX=$RAUC_B_SLOT_BOOT_INDEX
		OK=$B_OK
		TRY=$B_TRY
	fi
	
	# Boot if slot is marked OK or it is freshly installed (and we will meet it by being first in ORDER and having TRY>0)
	# Logic:
	# 	TRY=0 OK=0 ==> freshly installed slot (e.g. in RAUC install - and the first slot in ORDER)
	#	TRY=0 OK=1 ==> Verified slot
	#	TRY>0 OK=0 ==> Trial boot in progress (with countdown)
	#	TRY=0 OK=0 (and not first in ORDER) ==> Failed slot
	if [ "$OK" -eq 1 -o "$TRY" -gt 0 ]; then
		set default=$INDEX
		# If we are booting an unverified slot (OK=0), decrement the TRY counter. userspace's mark-good will reset it to 0
		if [ "$OK" -eq 0 ] ; then
			echo "Trial boot of Slot $SLOT. Attempts remaining: $TRY"
			if [ "$SLOT" == "A" ]; then
				if [ "$A_TRY" == "3" ]; then set A_TRY="2";
				elif [ "$A_TRY" == "2" ]; then set A_TRY="1";
				else
					# Avoid mismatches in environment by forcing values greater than RAUC_RETRY_COUNT to RAUC_RETRY_COUNT
					if [ "$A_TRY" -gt "$RAUC_RETRY_COUNT" ]; then
						set A_TRY=$RAUC_RETRY_COUNT
					else
						set A_TRY="0";
					fi
				fi
			else
				if [ "$B_TRY" == "3" ]; then set B_TRY="2";
				elif [ "$B_TRY" == "2" ]; then set B_TRY="1";
				else 
					# Avoid mismatches in environment by forcing values greater than RAUC_RETRY_COUNT to RAUC_RETRY_COUNT
					if [ "$B_TRY" -gt "$RAUC_RETRY_COUNT" ] ; then 
						set B_TRY=$RAUC_RETRY_COUNT
					else
						set B_TRY="0";
					fi
				fi
			fi
		fi
		break
	fi
done

#
# Save the state so RAUC knows an attempt is in progress
#
save_env A_TRY A_OK B_TRY B_OK ORDER RAUC_RETRY_COUNT

#
# Map the RAUC_SLOT for the kernel command line
#
if [ "$default" -eq "$RAUC_A_SLOT_BOOT_INDEX" ]; then
	set RAUC_SLOT="A"
elif [ "$default" -eq "$RAUC_B_SLOT_BOOT_INDEX" ]; then
	set RAUC_SLOT="B"
fi
save_env RAUC_SLOT

#
# Decide the GRUB root and set RAUC specific kernel command line arguments
#
function set_boot_params_by_rauc_slot {
	# GRUB cannot search GPT labels. Modifying filesystem information is risky. So instead, we will use A/B for both boot and rootfs materials, both go together
	# and we will use the partition number
	if [ "${RAUC_SLOT}" == "A" ]; then
		set rauc_disk_number=0
		set rauc_partition_number=2
	fi
	if [ "${RAUC_SLOT}" == "B" ]; then
		set rauc_disk_number=0
		set rauc_partition_number=3
	fi

	rauc=true
	console="$console rauc.slot=${RAUC_SLOT}"
}

#
# Set the A/B slots. This is for a single GPT hard drive
#
function set_rauc_root {
	echo "RAUC: Booting Slot ${RAUC_SLOT} from (hd${rauc_disk_number},${rauc_partition_number})"
	d=${rauc_disk_number}
	p=${rauc_partition_number}
	file_pattern_boot=/bzImage.signed
	if [ -e (hd$d,$p)/$file_pattern_boot ] ; then
		echo "found RAUC requested Linux kernel in (hd$d,$p)"
		set root=(hd$d,$p)
		boot_materials_path=/
	else
		echo "Linux kernel is not available at your requested partition! Failing boot slot ${RAUC_SLOT}"
	fi
}

function set_root_rauc {
	set_rauc_root
}
