# TODO: consolidate with the rest
default=3
timeout=10

set ORDER="A B"
set A_OK=1
set B_OK=0
set A_TRY=0
set B_TRY=0

set prev_check=$check_signatures
set check_signatures=no
load_env
set check_signatures=$prev_check

RAUC_A_SLOT_BOOT_INDEX=0
RAUC_B_SLOT_BOOT_INDEX=1
# select bootable slot
for SLOT in $ORDER; do
    if [ "$SLOT" == "A" ]; then
        INDEX=$RAUC_A_SLOT_BOOT_INDEX
        OK=$A_OK
        TRY=$A_TRY
        A_TRY=1
    fi
    if [ "$SLOT" == "B" ]; then
        INDEX=$RAUC_B_SLOT_BOOT_INDEX
        OK=$B_OK
        TRY=$B_TRY
        B_TRY=1
    fi
    if [ "$OK" -eq 1 -a "$TRY" -eq 0 ]; then
        default=$INDEX
        break
    fi
done

# reset booted flags
if [ ! "$default" -eq "$RAUC_A_SLOT_BOOT_INDEX" -a ! "$default" -eq "$RAUC_B_SLOT_BOOT_INDEX" ]; then
    if [ "$A_OK" -eq 1 -a "$A_TRY" -eq 1 ]; then
        A_TRY=0
    fi
    if [ "$B_OK" -eq 1 -a "$B_TRY" -eq 1 ]; then
        B_TRY=0
    fi
fi

save_env A_TRY A_OK B_TRY B_OK ORDER


set prev_check=$check_signatures
set check_signatures=no
load_env
set check_signatures=$prev_check

# 2. Defaults
if [ -z "${RAUC_SLOT}" ]; then set RAUC_SLOT="A"; fi

# 3. Fallback Logic (Decrement Try Counter)
if [ -n "${RAUC_BOOT_TRY}" ]; then
        echo "DEBUG: RAUC_BOOT_TRY=$RAUC_BOOT_TRY"
        if [ "${RAUC_BOOT_TRY}" = "5" ]; then set RAUC_BOOT_TRY="4"; 
        elif [ "${RAUC_BOOT_TRY}" = "4" ]; then set RAUC_BOOT_TRY="3"; 
        elif [ "${RAUC_BOOT_TRY}" = "3" ]; then set RAUC_BOOT_TRY="2"; 
        elif [ "${RAUC_BOOT_TRY}" = "2" ]; then set RAUC_BOOT_TRY="1"; 
        elif [ "${RAUC_BOOT_TRY}" = "1" ]; then set RAUC_BOOT_TRY="0"; 
        elif [ "${RAUC_BOOT_TRY}" = "0" ]; then echo "Failed to boot $RAUC_SLOT. Will try switching to the other slot"
        else echo "Invalid RAUC_BOOT_TRY! $RAUC_BOOT_TRY" ; read # add some artificial pause (requires the read module)
        fi

        save_env RAUC_BOOT_TRY

        # 4. Rollback (Swap Slot if attempts exhausted)
        if [ "${RAUC_BOOT_TRY}" = "0" ]; then
                if [ "${RAUC_SLOT}" = "A" ]; then
                        set RAUC_SLOT="B"
                else
                        set RAUC_SLOT="A"
                fi
                unset RAUC_BOOT_TRY
                save_env RAUC_SLOT
                save_env RAUC_BOOT_TRY
        fi
fi

# The following goes ignored. They are not needed. The default logic is good for this case. However one should take care of the fallback scenarios
# GRUB cannot search GPT labels. Modifying filesystem information is risky. So instead, we will use A/B for both boot and rootfs materials, both go together
# and we will use the partition number
# 1. Define the logic for Slot A
if [ "${RAUC_SLOT}" == "A" ]; then
        set rauc_disk_number=0  
        set rauc_partition_number=2
fi
if [ "${RAUC_SLOT}" == "B" ]; then
        set rauc_disk_number=0  
        set rauc_partition_number=3
fi

#
# Set the A/B slots. This is for a single GPT hard drive
#
function set_rauc_root {
	echo "RAUC: Booting Slot ${RAUC_SLOT} from (hd${rauc_disk_number},${rauc_partition_number})"
        d=${rauc_disk_number}
        p=${rauc_partition_number}
        file_pattern_boot=/bzImage.signed
        if [ -e (hd$d,$p)/$file_pattern_boot ] ; then 
                echo "found RAUC requested Linux kernel in (hd$d,$p)"
                set root=(hd$d,$p)
                boot_materials_path=/
        else
                echo "Linux kernel is not available at your requested partition! Failing boot slot ${RAUC_SLOT}"
        fi
}

function set_root_rauc {
	set_rauc_root
}




# WIP RAUC temp entry to test a per boot partition config file without modifying non GRUB config files
menuentry "XBoot Linux - RAUC serial Slot A (OK=$A_OK, TRY=$A_TRY)" {
	console="console=tty0 console=ttyS0"
	console="$console rauc.slot=A"
        set rauc_disk_number=0  
        set rauc_partition_number=2
	rauc=true
	boot_linux_luks_verity_params_from_per_boot_partition_env_file
}


# WIP RAUC temp entry to test a per boot partition config file without modifying non GRUB config files
menuentry "Boot Linux - RAUC serial Slot B (OK=$B_OK, TRY=$B_TRY)" {
	console="console=tty0 console=ttyS0"
	console="$console rauc.slot=B"
        set rauc_disk_number=0  
        set rauc_partition_number=3
	rauc=true
	boot_linux_luks_verity_params_from_per_boot_partition_env_file
}

