# WIP temp entry to test a per boot partition config file without modifying non GRUB config files
MORE_WIP_ENTRY_NOTES="read comments for this entry in the source config file"
menuentry "Boot Linux - per boot partition config WIP serial (w) $MORE_WIP_ENTRY_NOTES" --hotkey=w {
	console="console=tty0 console=ttyS0"
	EXTRA_KERNEL_CMDLINE="tpm.autoenrollment=initramfs tpm.autoenrollment.password=@@TPM_AUTOENROLLMENT_PASSWORD@@ "
	boot_linux_luks_verity_params_from_per_boot_partition_env_file
	# WIP - will add some kernel parameters
	# The autoenrollment can be very insecure, or absolutely fine - depending on the security model and what one tries to protect - when such an example entry can run
	# For exmaple, if you enroll in factory, and wipe the password immediately after the installation, it is fine
	# Some of the parameters/options:
	# 	tpm.autoentrollment: [all|initramfs|rootfs] - all - no password will be needed anywhere. initramfs - password needed at rootfs. rootfs - password needed at initramfs 
	# tpm.autoenrollment.password: if specified, this will be used as the temporary key file for autoenrollment
	# tpm.autoenrollment.keyfile: if specified, this will be the path to the unlock key flile. For now it will be the same path in both initramfs and rootfs, and it may be dropped from implementation
	# tpm.autoenrollment.pcrs: if specified, you can provide a ',' delimited list of pcrs to enroll. The default is otherwise systemd-cryptenroll's default.
	# tpm.autoenrollment.removepasswordslot: receives no value. if specified - the password slot will be removed upon TPM enrollment. This is more secure, but may make the device unrecoverable
	# tpm.autoenrollment.removeprevioustpmenrollments: receives no value. if specified, and TPM enrollments are discovered - they are all wiped out
	#                                                  The latter is useful in case there is a disk that had been provisioned, and is used incorrectly (possibly elsewhere, or with modified parameters).
	#                                                  systemd-cryptenroll might think that the parameters are identical - but it may not agree with the TPM state, and in this case you would like to start-over
}

menuentry "WIP recovery - autoenroll demonstration" {
	console="console=tty0 console=ttyS0"
	EXTRA_KERNEL_CMDLINE="tpm.autoenrollment=initramfs tpm.autoenrollment.password=@@TPM_AUTOENROLLMENT_PASSWORD@@ "
	rd_systemd_shell_options="rd.shell SYSTEMD_SULOGIN_FORCE=1 rd.break=initqueue"

	boot_linux_luks_verity_params_from_per_boot_partition_env_file
}

#
# These entries do not measure GRUB
#
menuentry "Boot Linux (systemd console = display) (m)" --hotkey=m {
	console="console=ttyS0 console=tty0"
	boot_linux
}
menuentry "Boot Linux (systemd console = serial) (s)" --hotkey=s {
	console="tty0 console=ttyS0"
	boot_linux
}

#
# These "measure GRUB" entries will make your tpm2 not auto unlock as it measures the command line as well
#
menuentry "Boot Linux (systemd console = display) measure GRUB" {
	console="console=ttyS0 console=tty0"
	tpm=true
	boot_linux
}
menuentry "Boot Linux (systemd console = serial) measure GRUB" {
	console="tty0 console=ttyS0"
	tpm=true
	boot_linux
}

#
# Note that hotkeys are only inside submenus
#
submenu "Alternate consoles (a) --> " --hotkey=a {
	menuentry "UEFI display only (g)" --hotkey=g {
		console="console=tty0"
		boot_linux
	}
	menuentry "Serial console only (n)" --hotkey=n {
		console="console=ttyS0"
		boot_linux
	}
}
